---
http_interactions:
- request:
    method: post
    uri: https://stbfep.sps-system.com/api/xmlapi.do
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="Shift_JIS"?><sps-api-request id="ST02-00302-402"><merchant_id>30132</merchant_id><service_id>001</service_id><tracking_id>78977425621564</tracking_id><processing_datetime>20210225010101</processing_datetime><request_date>20210225092635</request_date><sps_hashcode>8d5280a6f77e37de09275007af57925a45fd8569</sps_hashcode></sps-api-request>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic MzAxMzIwMDE6YzQ4ZTBlMmM3ZDA0ZjA5NTQ1OTRmMTRjNzgwMWJkNDMwY2E2MjYzZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=Shift_JIS
      Content-Language:
      - ja
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='Shift_JIS' ?>
          <sps-api-response id="ST02-00302-401">
            <res_result>OK</res_result>
            <res_sps_transaction_id>B30132001ST020030240101871426511</res_sps_transaction_id>
            <res_process_date>20210225092652</res_process_date>
            <res_err_code/>
            <res_date>20210225092653</res_date>
          </sps-api-response>
  recorded_at: Thu, 25 Feb 2021 00:26:36 GMT
recorded_with: VCR 5.1.0
