---
http_interactions:
- request:
    method: post
    uri: https://stbfep.sps-system.com/api/xmlapi.do
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="Shift_JIS"?><sps-api-request id="ST02-00302-101"><merchant_id>30132</merchant_id><service_id>001</service_id><tracking_id>00000630883777</tracking_id><processing_datetime>20210224210101</processing_datetime><request_date>20210224211951</request_date><sps_hashcode>0e13dd26b74fce521f79c355f1cb01d4c1b7006e</sps_hashcode></sps-api-request>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic MzAxMzIwMDE6YzQ4ZTBlMmM3ZDA0ZjA5NTQ1OTRmMTRjNzgwMWJkNDMwY2E2MjYzZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=Shift_JIS
      Content-Language:
      - ja
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='Shift_JIS' ?>
          <sps-api-response id="ST02-00302-101">
            <res_result>OK</res_result>
            <res_sps_transaction_id>B30132001ST020030210101871157523</res_sps_transaction_id>
            <res_process_date>20210224212009</res_process_date>
            <res_err_code/>
            <res_date>20210224212010</res_date>
          </sps-api-response>
  recorded_at: Wed, 24 Feb 2021 12:19:52 GMT
recorded_with: VCR 5.1.0
